body {
    font-family: "Courier New", monospace;
    background: #d0d0d0;
    color: #111;
    margin: 0;
    padding: 0;
}

.window {
    max-width: 900px;
    margin: 20px auto;
    border: 2px solid #808080;
    background: #efefef;
    padding: 12px;
}

.navbar {
    background: #bfbfbf;
    padding: 6px;
    border: 2px outset #dcdcdc;
    margin-bottom: 12px;
}

.navbar a {
    margin-right: 16px;
    font-size: 14px;
    color: blue;
    text-decoration: underline;
}

.section {
    background: #ffffff;
    padding: 14px;
    border: 2px inset #bdbdbd;
    margin-bottom: 14px;
}

.section h2 {
    margin-top: 0;
    color: #800000;
}

.btn {
    padding: 6px 10px;
    border: 2px outset #cfcfcf;
    background: #e6e6e6;
    cursor: pointer;
    font-family: monospace
}

.btn:active {
    border: 2px inset #cfcfcf;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 2px inset #bdbdbd;
    background: #f0f0f0;
    font-family: monospace;
    margin-bottom: 10px;
}

.home-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-pic {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border: 2px inset #bdbdbd;
    background: #fff;
    padding: 4px;
}

.project-box {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    margin-bottom: 18px;
    padding: 10px;
    border: 2px inset #bdbdbd;
    background: #fafafa;
}

.project-thumb {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px inset #bdbdbd;
    background: #fff;
    padding: 4px;
}

.project-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.project-btn {
  text-decoration: none;
  border: 2px outset #cfcfcf;
  padding: 6px 12px;
  background: #e6e6e6;
  font-family: monospace;
  font-size: 14px;
  color: black;
}

.project-btn:active {
  border: 2px inset #cfcfcf;
  background: #dcdcdc;
}